
.header .container {
    background: #888;
    padding: 8px 6px;
    display: flex;
    justify-content: space-between;
}

.header-logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.logo-group-text {
    color: #FFF;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #737373;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-action-group {
    display: flex;
    gap: 12px;
    position: relative;
}

.action-group-profile {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: #D9D9D9;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-group-profile img{
    width: 100%;
    height: 100%;
}

.profile-text {
    color: #FFF;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.languages-list-group{
    width: 130px;
    /*height: 94px;*/
    border-radius: 6px 0 6px 6px;
    background: #D9D9D9;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 23px;
    left: -70px;
    padding: 2px 4px 0 4px;
    z-index: 104;
}

.language a{
    margin-bottom: 4px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    padding-left: 10px;
}
.language:hover a, .language :active a{
    border-color: black;
}

.bg-black{
    position: absolute;
}

.bg-black-color {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    display: block;
    z-index: 104;
}

.action-group-languages{
    z-index: 104;
}

.action-group-languages svg{
    fill: white;
}

.svg-fill-black svg{
    fill: black!important;
    width: 18px!important;
    height: 18px!important;
}

.action-group-languages-bg-2{
    background: #D9D9D9;
    z-index: 105;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 3px;
}